@use 'reset';

@font-face {
    font-family: "HankenGrotesk";
    font-display: swap;
    font-weight: 100 900;
    src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

$primary-hsl-400: hsl(252, 100%, 67%);
$secondary-hsl-400: hsl(241, 81%, 54%);
$primary-hsl-500: hsla(256, 72%, 46%, 1);
$secondary-hsl-500: hsla(241, 72%, 46%, 0);

$gradient-primary: linear-gradient($primary-hsl-400, $secondary-hsl-400);
$gradient-secondary: linear-gradient($primary-hsl-500, $secondary-hsl-500);

$neutral-hsl-100: hsl(0, 0%, 100%);
$neutral-hsl-200: hsl(221, 100%, 96%);
$neutral-hsl-300: hsl(241, 100%, 89%);
$neutral-hsl-700: hsl(224, 30%, 27%);

$red: hsl(0, 100%, 67%);
$yellow: hsl(39, 100%, 56%);
$green: hsl(166, 100%, 37%);
$blue: hsl(234, 85%, 45%);

$red-tr: hsla(0, 100%, 67%, .1);
$yellow-tr: hsla(39, 100%, 56%, .1);
$green-tr: hsla(166, 100%, 37%, .1);
$blue-tr: hsla(234, 85%, 45%, .1);

$main-font: "HankenGrotesk", sans-serif;
$fw-regular: 500;
$fw-bold: 700;
$fw-black: 800;

$fs-small: 1rem; //16px
$fs-medium: 1.25rem; //20px
$fs-large: 3.5rem; //56px

$gap: 1rem;

@mixin font-small($color: color, $weight: weight) {
    font-weight: $weight;
    font-size: $fs-small;
    color: $color;
}



%flex-flow {
    display: flex;
    flex-direction: column;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    @extend %flex-flow;
    width: 22rem;
    background-color: $neutral-hsl-100;
}

.result {
    // @include region();
    flex: 50%;
    padding: 2rem;
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: $gap;
    text-wrap: balance;
    border-radius: 0 0 2rem 2rem;
    background-image: $gradient-primary;

    .title {
        @include font-small($neutral-hsl-300, $fw-bold);
    }

    &__score {
        @extend %flex-flow;
        @include font-small($neutral-hsl-300, $fw-bold);
        justify-content: center;
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
        background-image: $gradient-secondary;

        span {
            display: block;
            font: {
                size: $fs-large;
                weight: $fw-black;
            }
            color: $neutral-hsl-100;
        }
    }

    .flex-flow {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    &__great {
        font: {
            size: $fs-medium;
            weight: $fw-regular;
        }
        color: $neutral-hsl-200;
    }

    &__body {
        @include font-small($neutral-hsl-300, $fw-regular);
    }

}

.summary {
    flex: 50%;
    display: grid;
    gap: $gap;
    padding: 1.5rem;

    .title {
        @include font-small($neutral-hsl-700, $fw-bold);
    }

    .grid-flow {
        display: grid;
        gap: $gap;

        [data-color= red] {
            background-color: $red-tr;
        }

        [data-color= yellow] {
            background-color: $yellow-tr;
        }

        [data-color= green] {
            background-color: $green-tr;
        }
        
        [data-color= blue] {
            background-color: $blue-tr;
        }
    }

    .summary-item {
        display: flex;
        justify-content: space-between;
        padding: $gap;
        border-radius: .5rem;

        &__icon {
            stroke-width: 1.8;
        }

        &__title--color-red {
            @include font-small($red, $fw-bold);
        }
        &__title--color-yellow {
            @include font-small($yellow, $fw-bold);
        }
        &__title--color-green {
            @include font-small($green, $fw-bold);
        }
        &__title--color-blue {
            @include font-small($blue, $fw-bold);
        }
    }

    .flex-group {
        display: flex;
        flex-direction: row;
        gap: $gap;
    }
}