*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
}

* {
  margin: 0;
  font-family: "HankenGrotesk", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: "HankenGrotesk", sans-serif;
  line-height: 1.5;
}

@font-face {
  font-family: "HankenGrotesk";
  font-display: swap;
  font-weight: 100 900;
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}
.result__score, .card {
  display: flex;
  flex-direction: column;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 22rem;
  border: black 1px solid;
  background-color: hsl(0, 0%, 100%);
}

.result {
  flex: 50%;
  padding: 2rem;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  text-wrap: balance;
  border-radius: 0 0 2rem 2rem;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.result .title {
  font-weight: 700;
  font-size: 1rem;
  color: hsl(241, 100%, 89%);
}
.result__score {
  font-weight: 700;
  font-size: 1rem;
  color: hsl(241, 100%, 89%);
  justify-content: center;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background-image: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
}
.result__score span {
  display: block;
  font-size: 3.5rem;
  font-weight: 800;
  color: hsl(0, 0%, 100%);
}
.result .flex-flow {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.result__great {
  font-size: 1.25rem;
  font-weight: 500;
  color: hsl(221, 100%, 96%);
}
.result__body {
  font-weight: 500;
  font-size: 1rem;
  color: hsl(241, 100%, 89%);
}

.summary {
  flex: 50%;
  display: grid;
  gap: 1rem;
  padding: 1.5rem;
}
.summary .title {
  font-weight: 700;
  font-size: 1rem;
  color: hsl(224, 30%, 27%);
}
.summary .grid-flow {
  display: grid;
  gap: 1rem;
}
.summary .grid-flow [data-color=red] {
  background-color: hsla(0, 100%, 67%, 0.1);
}
.summary .grid-flow [data-color=yellow] {
  background-color: hsla(39, 100%, 56%, 0.1);
}
.summary .grid-flow [data-color=green] {
  background-color: hsla(166, 100%, 37%, 0.1);
}
.summary .grid-flow [data-color=blue] {
  background-color: hsla(234, 85%, 45%, 0.1);
}
.summary .summary-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
}
.summary .summary-item__icon {
  stroke-width: 1.8;
}
.summary .summary-item__title--color-red {
  font-weight: 700;
  font-size: 1rem;
  color: hsl(0, 100%, 67%);
}
.summary .summary-item__title--color-yellow {
  font-weight: 700;
  font-size: 1rem;
  color: hsl(39, 100%, 56%);
}
.summary .summary-item__title--color-green {
  font-weight: 700;
  font-size: 1rem;
  color: hsl(166, 100%, 37%);
}
.summary .summary-item__title--color-blue {
  font-weight: 700;
  font-size: 1rem;
  color: hsl(234, 85%, 45%);
}
.summary .flex-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}/*# sourceMappingURL=style.css.map */