@use 'reset';

@font-face {
    font-family: "HankenGrotesk";
    font-display: swap;
    font-weight: 100 900;
    src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

$primary-hsl-400: hsl(252, 100%, 67%);
$secondary-hsl-400: hsl(241, 81%, 54%);
$primary-hsl-500: hsla(256, 72%, 46%, 1);
$secondary-hsl-500: hsla(241, 72%, 46%, 0);

$gradient-primary: linear-gradient($primary-hsl-400, $secondary-hsl-400);
$gradient-secondary: linear-gradient($primary-hsl-500, $secondary-hsl-500);

$neutral-hsl-100: hsl(0, 0%, 100%);
$neutral-hsl-200: hsl(221, 100%, 96%);
$neutral-hsl-300: hsl(241, 100%, 89%);
$neutral-hsl-700: hsl(224, 30%, 27%);
$neutral-hsl-800: hsla(224, 30%, 27%, 0.596);

$red: hsl(0, 100%, 67%);
$yellow: hsl(39, 100%, 56%);
$green: hsl(166, 100%, 37%);
$blue: hsl(234, 85%, 45%);

$red-tr: hsla(0, 100%, 67%, .1);
$yellow-tr: hsla(39, 100%, 56%, .1);
$green-tr: hsla(166, 100%, 37%, .1);
$blue-tr: hsla(234, 85%, 45%, .1);

$main-font: "HankenGrotesk", sans-serif;
$fw-regular: 500;
$fw-bold: 700;
$fw-black: 800;

$fs-small: 1rem; //16px
$fs-medium: 1.25rem; //20px
$fs-large: 3.5rem; //56px

$gap: 1rem;
$min-width: 45rem;
$radius: 2rem;

@mixin font-small($color: color, $weight: weight) {
    font-weight: $weight;
    font-size: $fs-small;
    color: $color;

    @media (min-width: $min-width) {
        font-size: calc($fs-small + .15rem);
    }
}

%flex-flow {
    display: flex;
    flex-direction: column;
}

%region {
    flex: 50%;
    display: grid;
    gap: $gap;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;

    @media (min-width: $min-width) {
        align-items: center;
    }
}

.card {
    @extend %flex-flow;
    width: 22rem;
    background-color: $neutral-hsl-100;
    border-radius: $radius;

    @media (min-width: $min-width) {
        flex-direction: row;
        width: 45rem;
        margin: $radius;
        box-shadow: 5px 5px 10px 8px $neutral-hsl-200;
    }
}

.result {
    @extend %region;
    padding: 2rem 3rem;
    justify-items: center;
    align-items: self-start;
    text-align: center;
    text-wrap: wrap;
    border-radius: 0 0 $radius $radius;
    background-image: $gradient-primary;
    
    @media (min-width: $min-width) {
        border-radius: $radius;
    }

    .title {
        @include font-small($neutral-hsl-300, $fw-bold);
    }

    &__score {
        @extend %flex-flow;
        @include font-small($neutral-hsl-300, $fw-bold);
        justify-content: center;
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
        background-image: $gradient-secondary;

        span {
            display: block;

            font: {
                size: $fs-large;
                weight: $fw-black;
            }

            color: $neutral-hsl-100;
        }
    }

    .flex-flow {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    &__great {
        font: {
            size: $fs-medium;
            weight: $fw-regular;
        }
        color: $neutral-hsl-200;

        @media (min-width: $min-width) {
            font-size: calc($fs-medium + .25rem);
        }
    }

    &__body {
        @include font-small($neutral-hsl-300, $fw-regular);
    }

}

.summary {
    @extend %region;
    padding: 2rem 2rem;

    .title {
        @include font-small($neutral-hsl-700, $fw-bold);
    }

    .grid-flow {
        display: grid;
        gap: $gap;

        [data-color=red] {
            background-color: $red-tr;
        }

        [data-color=yellow] {
            background-color: $yellow-tr;
        }

        [data-color=green] {
            background-color: $green-tr;
        }

        [data-color=blue] {
            background-color: $blue-tr;
        }
    }

    .summary-item {
        display: flex;
        justify-content: space-between;
        padding: $gap;
        border-radius: .5rem;

        &__icon {
            stroke-width: 1.8;
        }

        &__title--color-red {
            @include font-small($red, $fw-bold);
        }

        &__title--color-yellow {
            @include font-small($yellow, $fw-bold);
        }

        &__title--color-green {
            @include font-small($green, $fw-bold);
        }

        &__title--color-blue {
            @include font-small($blue, $fw-bold);
        }


        &__score {
            @include font-small($neutral-hsl-800, $fw-black);

            span {
                @include font-small($neutral-hsl-700, $fw-black);
            }
        }
    }

    .flex-group {
        display: flex;
        flex-direction: row;
        gap: $gap;
    }

    .button {
        @include font-small($neutral-hsl-100, $fw-bold);
        background-color: $neutral-hsl-700;
        padding: 1rem 2rem;
        border: none;
        border-radius: 20rem;

        &:hover, &:focus {
            background-image: $gradient-primary;
            cursor: pointer;
        }
    }
}